@CHARSET "UTF-8";

.gb-navigation,.gb-eintrag {
width: 50%;
}

.gb-eintrag {
margin: 1em 0;
border: 1px solid #ddd;
}

.gb-meta {
font-size: 0.8em;
}

.gb-content {
margin: 0.5em 0;
}

ul#navigation {
list-style-type: none;
margin: 0;
padding: 1em 0;
}

ul#navigation li a {
display: block;
width: 3em;
border: 1px solid #999;
border-radius: 5px;
padding: .2em 0;
text-align: center;
text-decoration: none;



background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
/* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
color-stop(100%, #e5e5e5) ); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
/* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
/* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */

-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, .3); /* webkit browser*/
-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, .3); /* firefox */
box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
}

ul#navigation li a:ACTIVE {


background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
/* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5),
color-stop(100%, #ffffff) ); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
/* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
/* IE10+ */
background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5',
endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}

ul#navigation .left {
float: left;
}

ul#navigation .right {
float: right;
}